@model BookStore.Models.Book
@{
    ViewBag.Title = "EditBook";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>EditBook</h2>
@Html.ActionLink("Back", "Index", "Admin", new { @class="btn btn-primary"})