@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ukraine<br />
    Odessa, Shevchenko ave, 1<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Student e-mail:</strong>   <a href="mailto:surzhickov.yura37@gmail.com">surzhickov.yura37@gmail.com</a><br />
    <strong>Telegram:</strong> <a href="https://t.me/yuriy_su">Yurii surzhikov</a>
</address>